/******************************************************************************************

GENERIC STYLES

******************************************************************************************/

body{
	background: #fdfdfd;
}

a{
	color: black;
	text-decoration: none;
}

.jumbotron{
	margin: 0 !important;
}


